---
import "@styles/global.css";
import "@fontsource/poppins";
import type { Locale } from "@/i18n";
import Header from "@features/Header/Header";
import Footer from "@features/Footer/Footer.astro";

export interface Props {
  locale: Locale;
  fillHeader?: boolean;
  title?: string;
}
const { locale, title = "Pangea Landing", fillHeader = false } = Astro.props;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative flex flex-col">
    <Header client:load lang={locale} fillHeader={fillHeader} />
    <div class="flex-grow 2xl:mx-auto 2xl:w-[1536px]">
      <slot />
    </div>
    <Footer lang={locale} />
  </body>
</html>
